{% extends 'base.html' %} 
{% block content %}
  <div class="container py-5">
    {% if user.is_authenticated %}
        <h3> Хворки пользователя: {{ seller }} </h3></br>
        {% if hworks|length == 0 %}
            Тут пока пусто
        {% else %}
            {% for hwork in hworks %}
            <article>
            <h5>{{ hwork.title }}</h5>
            <ul>
                <li>
                    Продавец: <a href= "{% url 'hworks:profile' hwork.user %}">{{ hwork.user }}</a>
                </li>
                <li>
                    Группа: {{ hwork.group }}
                </li>
                <li>
                    Стоимость: {{ hwork.price }}
                </li>
                <li>
                <a href="{% url 'hworks:hwork_list' hwork.user %}"> Другие хворки продавца</a><br/>
                </li>
                {% if user == hwork.user %}
                <li>
                    <a href="">Редактировать</a>
                </li>
                {% endif %}
            </ul>
            Описание:</br>
            <p>{{ hwork.description }}</p>
            </article>
            {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        <h1>Зайдите на сайт!</h1>
    {% endif %}
</div> 
{% endblock %}