{% extends 'base.html' %} 
{% block content %}
  <div class="container py-5">
    {% if user.is_authenticated %}
      {% if user.is_freelancer %}
        <h3>Добро пожаловать {{ user.username }}</h3>
        <h4>Ваши активные заказы:</h4></br>
        {% include 'includes/order_list_base.html' %}
      {% else %}
        <h3>Добро пожаловать {{ user.username }}</h3>
        <h4>Все хворки:</h4></br>
        {% include 'includes/hwork_list_base.html'%}
      {% endif %}
    {% else %}
      {% include 'includes/hwork_list_base.html'%}
    {% endif %}
  </div> 
{% endblock %}