{% extends 'base.html' %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <p style="background-color: #157347; color: white; text-align: center">{{ message }}</p>
    {% endfor %}
{% endif %}
  <div class="container py-5">
    {% if user.is_authenticated %}
        {% if user.is_freelancer %}
            <h3>Ваши Хворки:</h3>
            <a class="btn btn-success" href="{% url 'hworks:hwork_create' %}">Cоздать новый Hwork</a>
            <hr>
            {% if hworks|length == 0 %}
                Тут пока пусто
            {% else %}
                {% for hwork in hworks %}
                <article>
                <h5>{{ hwork.title }}</h5>
                <ul>
                    <li>
                        Продавец: <a href= "{% url 'hworks:profile' hwork.user %}">{{ hwork.user }}</a>
                    </li>
                    <li>
                        Группа: {{ hwork.group }}
                    </li>
                    <li>
                        Стоимость: {{ hwork.price }}
                    </li>
                        {% if user == hwork.user %}
                    <li>
                        Статус: {% if hwork.is_archived %}<span style="color: red">В архиве{% else %}<span style="color: green">Активен</span>{% endif %}</span>
                    </li>
                    {% endif %}
                </ul>
                <form id="is_archived_form_{{ hwork.id}}" action="{% url 'hworks:hwork_archive' hwork.id %}" method="post">
                    {% csrf_token %}
                </form>
                <a class="btn btn-secondary" href="{% url 'hworks:hwork_update' hwork.id %}">Редактировать</a>
                <a class="btn btn-secondary" onclick="document.getElementById('is_archived_form_{{ hwork.id}}').submit();">
                    {% if hwork.is_archived %}
                        Активировать
                    {% else %}
                        Отправить в архив
                    {% endif %}
                </a></br>
                Описание:</br>
                <p>{{ hwork.description }}</p>
                </article>
                {% if not forloop.last %}<hr>{% endif %}
                {% endfor %}
            {% endif %}
            {% else %}
            <h1>Вы не продавец!</h1>
        {% endif %}
    {% else %}
        <h1>Зайдите на сайт!</h1>
    {% endif %}
</div> 
{% endblock %}