{% extends 'base.html' %} 
{% block content %}
<div class="container py-5">
    Данные пользователя: <b>{{ user_profile.username }}</b><br/>
    Статус:
    <b>
        {% if user_profile.is_freelancer %}
            Продавец
        {% else %}
            Покупатель
        {% endif %}
    </b><br/>
    Имя: {{ user_profile.first_name }}<br/>
    Фамилия: {{ user_profile.last_name }}<br/>
    Почта: {{ user_profile.email }}<br/>
    {% if user_profile.is_freelancer %}
        Опыт: {{ user.exp }}<br/>
    {% endif %}
    {% if user_profile.is_freelancer %}
    <a href="{% url 'hworks:hwork_user_list' user_profile.username %}">Хворки пользователя</a><br/>
    {% endif %}
    {% if user_profile.username == user.username %}
        <a href="{% url 'users:user_update' user.username %}">Редактировать профиль</a><br/>
        <a href="{% url 'users:password_change' %}">Изменить пароль</a><br/>
    {% endif %}
</div>
{% endblock %}